<form id="update-build-form" data-id="{{build.id}}">
  <div class="create-build-container">
    <div class="create-build-major">
      <div class="form-group">
        <label for="create-build-major">Build Name</label>
        <input type="text" class="form-control" name="build[name]" placeholder="Build Name" value="{{build.name}}">
      </div>
      <div class="form-group">
        <label for="create-build-major">Build Description</label>
        <input type="text" class="form-control" name="build[description]" placeholder="Build Description" value="{{build.description}}">
      </div>
      <div class="form-group">
        <label for="create-build-major">Budget</label>
        <input type="text" class="form-control" name="build[budget]" placeholder="Budget" value="{{build.budget}}">
      </div>
    </div>
    <div class="create-build-minor">
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[cpu]" placeholder="Processor" value="{{build.cpu}}">
      </div>
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[gpu]" placeholder="Graphics Card" value="{{build.gpu}}">
      </div>
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[motherboard]" placeholder="Motherboard" value="{{build.motherboard}}">
      </div>
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[ram]" placeholder="Ram" value="{{build.ram}}">
      </div>
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[cooler]" placeholder="Cooler" value="{{build.cooler}}">
      </div>
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[power_supply]" placeholder="Power Supply" value="{{build.psu}}">
      </div>
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[storage]" placeholder="Storage" value="{{build.storage}}">
      </div>
      <div class="col col-sm">
        <input type="text" class="form-control" name="build[other]" placeholder="Other" value="{{build.other}}">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-info update-build">Update Build</button>
      </div>
    </div>
  </div>
</form>
